/* line 1, ../_sass/about.scss */
#about-wrap {
  background: url(../img/fair1copy.jpg) no-repeat center top;
  background-size: 100%;
  background-size: cover;
}

/* line 9, ../_sass/about.scss */
.past-conferences {
  margin: 0 auto;
  list-style: none;
  margin: 10px;
  text-align: center;
}
/* line 15, ../_sass/about.scss */
.past-conferences li {
  display: inline-block;
  padding: 0 5px;
}
/* line 20, ../_sass/about.scss */
.past-conferences li + li {
  border-left: 1px solid #A6A6A6;
}
