@font-face {
  font-family: 'DIN-Medium';
  src: url("fonts/DIN/dinnextltpro-medium.eot");
  src: url("fonts/DIN/dinnextltpro-medium.eot") format("embedded-opentype"), url("fonts/DIN/dinnextltpro-medium.woff") format("woff"), url("fonts/DIN/dinnextltpro-medium.ttf") format("truetype"), url("fonts/DIN/dinnextltpro-medium.svg#DINNextLTProMedium") format("svg");
}

@font-face {
  font-family: 'DIN-Regular';
  src: url("fonts/DIN/dinnextltpro-regular.eot");
  src: url("fonts/DIN/dinnextltpro-regular.eot") format("embedded-opentype"), url("fonts/DIN/dinnextltpro-regular.woff") format("woff"), url("fonts/DIN/dinnextltpro-regular.ttf") format("truetype"), url("fonts/DIN/dinnextltpro-regular.svg#DINNextLTProRegular") format("svg");
}

@font-face {
  font-family: 'DIN-Light';
  src: url("fonts/DIN/dinnextltpro-light.eot");
  src: url("fonts/DIN/dinnextltpro-light.eot") format("embedded-opentype"), url("fonts/DIN/dinnextltpro-light.woff") format("woff"), url("fonts/DIN/dinnextltpro-light.ttf") format("truetype"), url("fonts/DIN/dinnextltpro-light.svg#DINNextLTProLight") format("svg");
}

@font-face {
  font-family: 'Whitney-Regular';
  src: url("fonts/Whitney/whitney-book.eot");
  src: url("fonts/Whitney/whitney-book.eot") format("embedded-opentype"), url("fonts/Whitney/whitney-book.woff") format("woff"), url("fonts/Whitney/whitney-book.ttf") format("truetype"), url("fonts/Whitney/whitney-book.svg#WhitneyBookRegular") format("svg");
}

@font-face {
  font-family: 'Whitney-Bold';
  src: url("fonts/Whitney/whitney-book.eot");
  src: url("fonts/Whitney/whitney-book.eot") format("embedded-opentype"), url("fonts/Whitney/whitney-book.woff") format("woff"), url("fonts/Whitney/whitney-book.ttf") format("truetype"), url("fonts/Whitney/whitney-book.svg#WhitneyBookRegular") format("svg");
}

@font-face {
  font-family: 'Whitney-Light';
  src: url("fonts/Whitney/whitney-book.eot");
  src: url("fonts/Whitney/whitney-book.eot") format("embedded-opentype"), url("fonts/Whitney/whitney-book.woff") format("woff"), url("fonts/Whitney/whitney-book.ttf") format("truetype"), url("fonts/Whitney/whitney-book.svg#WhitneyBookRegular") format("svg");
}