/*media queries for type styles on index.html*/
@media (max-width: 717px) {
  /* line 4, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 40px;
  }

  /* line 7, ../_sass/media-queries.scss */
  h3.event-heading {
    font-size: 20px;
  }
}
@media (max-width: 590px) {
  /* line 13, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 30px;
  }
}
@media (max-width: 465px) {
  /* line 19, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 26px;
  }

  /* line 22, ../_sass/media-queries.scss */
  h3.event-heading {
    font-size: 18px;
  }
}
@media (max-width: 410px) {
  /* line 28, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 22px;
  }
}
/*Speaker Card Media Queries for index.html and /speakers. */
@media (max-width: 600px) {
  /* line 36, ../_sass/media-queries.scss */
  .grid li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  /* line 43, ../_sass/media-queries.scss */
  .speaker-link:after {
    background: rgba(0, 0, 0, 0.7);
  }

  /* line 47, ../_sass/media-queries.scss */
  .content-jenny-murphy:after {
    content: "Jenny Murphy";
  }

  /* line 51, ../_sass/media-queries.scss */
  .content-joe-lonsdale:after {
    content: "Joe Lonsdale";
  }

  /* line 55, ../_sass/media-queries.scss */
  .content-peter-norvig:after {
    content: "Peter Norvig";
  }

  /* line 59, ../_sass/media-queries.scss */
  .content-guido:after {
    content: "Guido van Rossum";
  }

  /* line 63, ../_sass/media-queries.scss */
  .content-zed-shaw:after {
    content: "Zed Shaw";
  }

  /* line 67, ../_sass/media-queries.scss */
  .content-woz:after {
    content: "Steve Wozniak";
  }

  /* line 71, ../_sass/media-queries.scss */
  .content-joel-spolsky:after {
    content: "Joel Spolsky";
  }

  /* line 75, ../_sass/media-queries.scss */
  .content-jawed-karim:after {
    content: "Jawed Karim";
  }

  /* line 79, ../_sass/media-queries.scss */
  .content-max-levchin:after {
    content: "Max Levchin";
  }

  /* line 83, ../_sass/media-queries.scss */
  .content-ari-gesher:after {
    content: "Ari Gesher";
  }

  /* line 87, ../_sass/media-queries.scss */
  .content-gerry-tan:after {
    content: "Garry Tan";
  }

  /* line 91, ../_sass/media-queries.scss */
  .content-feinberg:after {
    content: "Danielle Feinberg";
  }

  /* line 95, ../_sass/media-queries.scss */
  .content-alexis-ohanian:after {
    content: "Alexis Ohanian";
  }
}
