/*Media Queries for type styles on index.html*/
@media (max-width: 717px) {
  /* line 4, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 40px;
  }

  /* line 7, ../_sass/media-queries.scss */
  h3.event-heading {
    font-size: 20px;
  }
}
@media (max-width: 590px) {
  /* line 13, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 30px;
  }
}
@media (max-width: 465px) {
  /* line 19, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 26px;
  }

  /* line 22, ../_sass/media-queries.scss */
  h3.event-heading {
    font-size: 18px;
  }
}
@media (max-width: 410px) {
  /* line 28, ../_sass/media-queries.scss */
  .container h2.event-heading {
    font-size: 22px;
  }
}
/*Speaker Card Media Queries for index.html, /companies and /speakers. */
@media (max-width: 600px) {
  /* line 36, ../_sass/media-queries.scss */
  .grid li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  /* line 42, ../_sass/media-queries.scss */
  .speaker-link:after {
    background: rgba(0, 0, 0, 0.7);
  }
}
/*Media Queries for /schedule */
@media (max-width: 675px) {
  /* line 50, ../_sass/media-queries.scss */
  .schedule-nav ul li {
    width: 100%;
    border-left: none;
    padding: 5px 25px;
  }
}
