/* line 1, ../_sass/theme.scss */
body {
  background-color: #f2f2f2;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* line 10, ../_sass/theme.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 300;
  color: #333;
}

/* line 15, ../_sass/theme.scss */
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 18px;
}

/* line 20, ../_sass/theme.scss */
.centered {
  text-align: center;
}

/* line 23, ../_sass/theme.scss */
.goright {
  text-align: right;
}

/* line 26, ../_sass/theme.scss */
.mt {
  padding-top: 25px;
}

/* line 29, ../_sass/theme.scss */
a {
  color: #16a085;
  word-wrap: break-word;
  -webkit-transition: color .1s ease-in, background .1s ease-in;
  -moz-transition: color .1s ease-in, background .1s ease-in;
  -ms-transition: color .1s ease-in, background .1s ease-in;
  -o-transition: color .1s ease-in, background .1s ease-in;
  transition: color .1s ease-in, background .1s ease-in;
}

/* line 38, ../_sass/theme.scss */
a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

/* line 43, ../_sass/theme.scss */
a:before, a:after {
  -webkit-transition: color .1s ease-in, background .1s ease-in;
  -moz-transition: color .1s ease-in, background .1s ease-in;
  -ms-transition: color .1s ease-in, background .1s ease-in;
  -o-transition: color .1s ease-in, background .1s ease-in;
  transition: color .1s ease-in, background .1s ease-in;
}

/* line 50, ../_sass/theme.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 58, ../_sass/theme.scss */
.btn {
  border-radius: 0;
}

/* line 61, ../_sass/theme.scss */
.btn-green {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
  font-weight: 300;
}

/* line 67, ../_sass/theme.scss */
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #16a085;
  border-color: #16a085;
  font-weight: 300;
}

/* line 73, ../_sass/theme.scss */
.tm {
  font-size: 14px;
  line-height: 20px;
}

/* line 77, ../_sass/theme.scss */
.menu {
  position: fixed;
  right: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
}

/* line 86, ../_sass/theme.scss */
.menu.menu-open {
  right: 0;
}

/* line 89, ../_sass/theme.scss */
.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a;
  width: 200px;
  height: 100%;
}

/* line 96, ../_sass/theme.scss */
.menu h1.logo a {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: .15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

/* line 106, ../_sass/theme.scss */
.menu h1.logo a:hover {
  color: #1abc9c;
}

/* line 109, ../_sass/theme.scss */
.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}

/* line 113, ../_sass/theme.scss */
.menu a {
  margin-left: 20px;
  color: gray;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* line 123, ../_sass/theme.scss */
.menu a:hover {
  color: #fff;
}

/* line 126, ../_sass/theme.scss */
.menu a:active {
  color: #fff;
}

/* line 129, ../_sass/theme.scss */
.menu a > i {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
}

/* line 139, ../_sass/theme.scss */
.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: gray;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 156, ../_sass/theme.scss */
.menu-close:hover {
  color: #fff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 164, ../_sass/theme.scss */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 169, ../_sass/theme.scss */
.body-push-toright {
  left: 200px;
}

/* line 172, ../_sass/theme.scss */
.body-push-toleft {
  left: -200px;
}

/* line 175, ../_sass/theme.scss */
.menu, .body-push {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 182, ../_sass/theme.scss */
#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 202, ../_sass/theme.scss */
#menuToggle:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 211, ../_sass/theme.scss */
#headerwrap {
  background: url(../img/zed.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 750px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 229, ../_sass/theme.scss */
#headerwrap h1 {
  margin-top: 130px;
  color: #fff;
  font-size: 140px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* line 236, ../_sass/theme.scss */
#headerwrap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

/* line 242, ../_sass/theme.scss */
#headerwrap i {
  font-size: 35px;
  color: #fff;
}

/* line 246, ../_sass/theme.scss */
#headerwrap .spacer {
  margin-top: 220px;
}

/* line 249, ../_sass/theme.scss */
#mapwrap {
  margin: 0;
  padding: 0;
}

/* line 253, ../_sass/theme.scss */
#serviceswrap {
  background: url(../img/services-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 271, ../_sass/theme.scss */
#serviceswrap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 150px;
}

/* line 278, ../_sass/theme.scss */
#aboutwrap {
  background: url(../img/about-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 296, ../_sass/theme.scss */
#aboutwrap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 150px;
}

/* line 303, ../_sass/theme.scss */
#portwrap {
  background: url(../img/portfolio-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 321, ../_sass/theme.scss */
#portwrap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 150px;
}

/* line 328, ../_sass/theme.scss */
#sp {
  background: #2f2f2f;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 333, ../_sass/theme.scss */
#sp h2 {
  color: #fff;
}

/* line 336, ../_sass/theme.scss */
#sp-standout {
  background: url(../img/sp-standout-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 354, ../_sass/theme.scss */
#portfolio {
  width: 100%;
}

/* line 356, ../_sass/theme.scss */
#services {
  background: #1abc9c;
  margin-top: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 362, ../_sass/theme.scss */
#services h3 {
  color: #fff;
}

/* line 365, ../_sass/theme.scss */
#services p {
  color: #fff;
}

/* line 368, ../_sass/theme.scss */
#services i {
  color: #fff;
  font-size: 35px;
  margin-top: 22px;
}

/* line 373, ../_sass/theme.scss */
#lg {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 379, ../_sass/theme.scss */
#lg .desc {
  text-align: left;
}

/* line 382, ../_sass/theme.scss */
#call {
  background: #2f2f2f;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

/* line 388, ../_sass/theme.scss */
#call h3 {
  color: #fff;
}

/* line 391, ../_sass/theme.scss */
#call p {
  color: #fff;
}

/* line 394, ../_sass/theme.scss */
#sf {
  display: block;
  width: 100%;
}

/* line 397, ../_sass/theme.scss */
#sf .container {
  width: 100%;
}

/* line 399, ../_sass/theme.scss */
#sf .col-lg-4 {
  margin: 0;
  padding: 15px;
}

/* line 403, ../_sass/theme.scss */
#sf .lg {
  background-color: #1abc9c;
}

/* line 406, ../_sass/theme.scss */
#sf .dg {
  background-color: #16a085;
}

/* line 409, ../_sass/theme.scss */
#sf h4 {
  color: #fff;
}

/* line 412, ../_sass/theme.scss */
#sf p {
  color: #fff;
}

/* line 415, ../_sass/theme.scss */
#sf .ml {
  margin-left: 30px;
}

/* line 418, ../_sass/theme.scss */
#sf i {
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 425, ../_sass/theme.scss */
#cf {
  background: #2f2f2f;
}

/* line 428, ../_sass/theme.scss */
#cf h4 {
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
}

/* line 433, ../_sass/theme.scss */
#cf p {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  margin-left: 15px;
}

/* line 439, ../_sass/theme.scss */
#cf .container {
  width: 100%;
}

/* line 441, ../_sass/theme.scss */
#cf .col-lg-8 {
  margin: 0;
  padding: 0;
}

/* line 445, ../_sass/theme.scss */
.process {
  max-width: 69em;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

/* line 451, ../_sass/theme.scss */
.process li {
  display: block;
  float: left;
  padding: 1px;
  width: 100%;
  opacity: 0;
}

/* line 458, ../_sass/theme.scss */
.process li.shown, .no-js .process li, .no-cssanimations .process li {
  opacity: 1;
}

/* line 461, ../_sass/theme.scss */
.process li a, .process li img {
  outline: 0;
  border: 0;
  display: block;
  max-width: 100%;
}

/* line 466, ../_sass/theme.scss */
.process.effect-2 li.animate {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp .65s ease forwards;
  -moz-animation: moveUp .65s ease forwards;
  animation: moveUp .65s ease forwards;
}

@-webkit-keyframes moveUp {
  /* line 475, ../_sass/theme.scss */
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes moveUp {
  /* line 480, ../_sass/theme.scss */
  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  /* line 485, ../_sass/theme.scss */
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* line 489, ../_sass/theme.scss */
#chartwrap {
  width: 100%;
}

/* line 491, ../_sass/theme.scss */
#chartwrap .container {
  margin-left: 0;
  padding-left: 0;
}

/* line 495, ../_sass/theme.scss */
#chartwrap h1, #chartwrap p {
  margin-left: 10px;
}

/* line 498, ../_sass/theme.scss */
.cardinfo {
  background: #fff;
  padding: 15px;
  margin: 2px;
  text-align: left;
}

/* line 504, ../_sass/theme.scss */
.cardinfo i {
  font-size: 18px;
  padding-right: 20px;
}

/* line 508, ../_sass/theme.scss */
.grid {
  max-width: 69em;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

/* line 514, ../_sass/theme.scss */
.grid li {
  display: block;
  float: left;
  padding: 7px;
  width: 33%;
  opacity: 0;
}

/* line 521, ../_sass/theme.scss */
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
  opacity: 1;
}

/* line 524, ../_sass/theme.scss */
.grid li a, .grid li img {
  outline: 0;
  border: 0;
  display: block;
  max-width: 100%;
}

/* line 529, ../_sass/theme.scss */
.grid img {
  opacity: .7;
}

/* line 532, ../_sass/theme.scss */
.grid img:hover {
  opacity: 1;
}

/* line 535, ../_sass/theme.scss */
.grid.effect-2 li.animate {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp .65s ease forwards;
  -moz-animation: moveUp .65s ease forwards;
  animation: moveUp .65s ease forwards;
}

@-webkit-keyframes moveUp {
  /* line 544, ../_sass/theme.scss */
  to {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes moveUp {
  /* line 549, ../_sass/theme.scss */
  to {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  /* line 554, ../_sass/theme.scss */
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
