{% extends 'layouts/main.html' %}

{% block title %} {{title }} {% endblock %}


{% block stylesheets %}{% endblock %}

{% block content %}

<section class="info pure-u-1">
  <img class="logo" src="public/images/dist/rp2014runningman.png" alt="R|P Logo" height='500px' width="300px">
  <p class="title">r | p <b>2014</b></p>
  <section class="description">
    <p>Reflections | Projections is a four-day, student-run conference that focuses on computing technology. Held annually at the University of Illinois Urbana-Champaign, the event is packed with great speakers, career fairs, and competitions.</p>
    <p>The upcoming Reflections | Projections conference will be held September 25th - 28th, 2014 and is currently in development. To stay up-to-date sign up to our mailing list below or check back here frequently for more information.</p>
    <p>We look forward to seeing you in the Fall!</p>
  </section>
</section>

<section class="email-signup pure-u-1">

  <form class="validate pure-form"
  action="http://uiuc.us4.list-manage2.com/subscribe/post?u=0628ea3ae6ae669985da21668&amp;id=297471fd80"
  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <fieldset>

    <button type="submit" class="pure-button submit-button">Tell Me More!</button>
  </fieldset>

</form>
</section>

<section class="social-links pure-u-1">
  <ul>
    <li>
      <div class="fb-like" data-href="https://www.facebook.com/acmrp" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </li>
    <li><a href="https://twitter.com/acmreflections" class="twitter-follow-button" data-show-count="false">Follow @acmreflections</a></li>
  </ul>
</section>

{% endblock %}


{% block scripts %}{% endblock %}