{% extends 'layouts/main.html' %}

{% block title %} {{title }} {% endblock %}


{% block stylesheets %}{% endblock %}

{% block content %}

<header class="info pure-u-1">
  <img class="logo" src="public/images/dist/rp2014runningman.png" alt="R|P Logo" height='500px' width="300px">
  <h1>Corporate Sign-Up Form</h1>
  <hr class="faded-line"/>
</header>

<section class="corporate-signup pure-u-1">

  <form class="validate pure-form pure-form-aligned"
  action="http://uiuc.us4.list-manage2.com/subscribe/post?u=0628ea3ae6ae669985da21668&amp;id=297471fd80"
  method="post" id="mc-embedded-subscribe-form"  target="_blank" novalidate>

  <fieldset>
      <div class="pure-control-group">
        <label for="company name">Company Name</label>
        <input id="company-name" type="text" placeholder="Company Name">
      </div>

      <div class="pure-control-group">
        <label for="first name">Rep. First Name</label>
        <input id="name-first" type="text" placeholder="First Name">
      </div>

      <div class="pure-control-group">
        <label for="last name">Rep. Last Name</label>
        <input id="name-last" type="text" placeholder="Last Name">
      </div>

      <div class="pure-control-group">
        <label for="email">Rep. Email Address</label>
        <input id="email" type="email" placeholder="Rep. Email Address">
      </div>

      <div class="pure-control-group">
        <label for="phonenumber">Rep. Phone Number</label>
        <input id="phonenumber" type="tel" placeholder="Rep. Phone Number">
      </div>

      <div class="pure-control-group">
        <label for="address">Address #1</label>
        <input id="addess-first" type="text" placeholder="Address 1">
      </div>

      <div class="pure-control-group">
        <label for="address-second">Address #2</label>
        <input id="address-second" type="text" placeholder="Address 2">
      </div>

      <div class="pure-control-group">
        <label for="company-logo" id="company-logo-label">Company Logo (.png)</label>
        <input id="company-logo" type="file" placeholder="Address 2">
      </div>

      <!-- logo upload field -->

      <button type="submit" class="pure-button submit-button">Sign up!</button>



  </fieldset>

</form>
</section>



{% endblock %}


{% block scripts %}{% endblock %}