<!-- Vendor Includes -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/imagesloaded.js"></script>
<script src="{{ site.baseurl }}/dist/js/classie.js"></script>
<script src="{{ site.baseurl }}/dist/js/AnimOnScroll.js"></script>

<!-- App Script -->
<script src="{{ site.baseurl }}/js/app.js"></script>

<!-- Google Analytics -->
<script src="{{ site.baseurl }}dist/js/ga.js"></script>

<script>
var grid = document.getElementById('grid');
if (grid) {
  new AnimOnScroll( document.getElementById( 'grid' ), {
   minDuration : 0.4,
   maxDuration : 0.7,
   viewportFactor : 0.2
  });
}
</script>
