 <!-- Menu -->
 <nav class="menu" id="theMenu">
  <div class="menu-wrap">
   <h1 class="logo"><a href="/">R|P 2014</a></h1>
   <!-- <i class="fa fa-arrow-right menu-close"></i> -->
   <a href="/">Home</a>
   <a href="/about">About</a>
   <!--<a href="/sponsor">Sponsor</a>-->
   <a href="/speakers">Speakers</a>
   <a href="/schedule">Schedule</a>
   <a href="/careerfairs">Career Fairs</a>
   <a href="/mechmania">Mechmania</a>
   <!--<a href="/puzzlebang">Puzzlebang</a>-->
   <a href="/register">Register</a>
   <!--<a href="/volunteer">Volunteer</a>-->
   <a target="_blank" href="https://www.facebook.com/acmrp"><i class="fa fa-facebook"></i></a>
   <a target="_blank" href="https://twitter.com/acmreflections"><i class="fa fa-twitter"></i></a>
   <a target="_blank" href="https://www.youtube.com/channel/UCm5h-rixlNgYL1PoFPJjYog"><i class="fa fa-youtube-play"></i></a>
   <a target="_blank" href="https://plus.google.com/112368859524676612958/posts"><i class="fa fa-google-plus-square"></i></a>
   <a target="_blank" href="mailto:conference-chair@acm.uiuc.edu" target="_top"><i class="fa fa-envelope"></i></a>
 </div>

 <!-- Menu button -->
 <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>

