 <!-- Menu -->
 <nav class="menu" id="theMenu">
  <div class="menu-wrap">
   <h1 class="logo"><a href="index.html#home">R|P 2014</a></h1>
   <!-- <i class="fa fa-arrow-right menu-close"></i> -->
   <a href="/">Home</a>
   <a href="/about">About</a>
   <a href="/register">Register</a>
   <a href="/volunteer">Volunteer</a>
   <a href="/speakers">Speakers</a>
   <a href="/schedule">Schedule</a>
   <a href="/careerfairs">Career Fairs</a>
   <a href="/mechmania">Mechmania</a>
   <a href="/puzzlebang">Puzzlebang</a>
   <a href="#"><i class="fa fa-facebook"></i></a>
   <a href="#"><i class="fa fa-twitter"></i></a>
   <a href="#"><i class="fa fa-envelope"></i></a>
 </div>

 <!-- Menu button -->
 <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>

