   <!-- Vendor Css -->
   <link rel="stylesheet" href="{{site.baseurl}}/fonts/font-awesome/css/font-awesome.min.css">

   <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

   <!-- Custom CSS -->
   <link href="{{ site.baseurl }}/dist/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
   <link href="{{ site.baseurl }}/css/fonts.css" rel="stylesheet" type="text/css" />


   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

      <script src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
