#cfwrap{
  background: url(../img/fair2copy.png) no-repeat center top;
  background-size: 100%;
  background-size: cover;
  @extend .header-wrap;
}



.grid {

  &.startup-grid{
  }

  li {

    &.company-card{
      @extend .card;
      opacity: 1;
      padding: 2.5rem;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      width: 30%;
    }
  }
}