/*
section{

  overflow: hidden;
  background-color: #fff;
  text-align: center;
  position: relative;
  min-height: 0;

  &#home{
    height: 100%;

    .logo {
      position: relative;
      text-align: center;
      height: 20%;
      color: #fff;
      font-size: 66px;
    }
    .content{
      padding-bottom: 40px;
    }
    .text{
      color: rgba(255,255,255,.9);
      color: rgba(255,255,255,.9);
    }

    h1{
      @extend .text;

      display: block;
      padding-top: 80px;
      margin: 0;
      height: 60%;
      font-size: 40px;
    }

    .info {
      @extend .text;
      padding-top: 120px;

    }

  }
}
*/

#map-canvas{
  height: 400px;
  margin-bottom: 100px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}


.parallax {

  height: 100%;
  background-color: transparent;

  img{
    height: auto;
    width: 100%;
    bottom: 80px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.30;
    -moz-opacity: 0.30;
    -khtml-opacity: 0.30;

    position: absolute;
    left: 0;
  }
}


.form-container{
  margin-left: 5%;

  & input{

    &[type='email']{
      background-color: #5A5A5A;
      border: none;
      width: 66%;
      border-radius: 0px;
      color: #FFF;

      &:focus{
        border-color: #DDDDDD;
        outline: 0;
        box-shadow: none;
      }
    }

  }
  & button{
    margin-top: 10px;
  }
}

.lg, .lg-orange {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  & h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    font-weight: bold;
  }
}

.lg-grey {
  background: $background-grey;
  padding: 25px;
  color: #fff;
}

.lg .desc {
  text-align: left;
}

.register-container {
  background:  $rp-orange;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;


  & h3 {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 28px;
  }

  & p {
    color: #fff;
  }
}