section{

  overflow: hidden;
  background-color: #fff;
  text-align: center;
  position: relative;
  min-height: 0;

  &#home{
    height: 100%;

    .logo {
      position: relative;
      text-align: center;
      height: 20%;
      color: #fff;
      font-size: 66px;
    }
    .content{
      padding-bottom: 40px;
    }
    .text{
      color: rgba(255,255,255,.9);
      color: rgba(255,255,255,.9);
    }

    h1{
      @extend .text;

      display: block;
      padding-top: 80px;
      margin: 0;
      height: 60%;
      font-size: 40px;
    }

    .info {
      @extend .text;
      padding-top: 120px;

    }

  }
}


#map-canvas{
  height: 400px;
  margin-bottom: 100px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}


.parallax {

  height: 100%;
  background-color: transparent;

  img{

    height: auto;
    width: 100%;
    bottom: 80px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.30;
    -moz-opacity: 0.30;
    -khtml-opacity: 0.30;

    position: absolute;
    left: 0;
  }
}


.form-container{
  margin-left: 5%;

  & input{

    &[type='email']{
      background-color: #5A5A5A;
      border: none;
      width: 66%;
      border-radius: 0px;
    }

  }
  & button{
    margin-top: 10px;
  }
}

