/*Media Queries for type styles on index.html*/

@media (max-width:717px) {
  .container h2.event-heading {
    font-size: 40px;
  }
  h3.event-heading {
    font-size: 20px;
  }
}

@media (max-width:590px) {
  .container h2.event-heading {
    font-size: 30px;
  }
}

@media (max-width:465px) {
  .container h2.event-heading {
    font-size: 26px;
  }
  h3.event-heading {
    font-size: 18px;
  }
}

@media (max-width:410px) {
  .container h2.event-heading {
    font-size: 22px;
  }
}

/*Speaker Card Media Queries for index.html, /companies and /speakers. */

@media (max-width:600px) {
  .grid li {
    width: 50%;
  }
}

@media (max-width:600px) {
  .speaker-link:after {
    background: rgba(0, 0, 0, 0.7);
  }
}

/*Media Queries for /schedule */

@media (max-width:675px) {
  .schedule-nav ul li {
    width: 100%;
    border-left: none;
    padding: 5px 25px;
  }
}