#mmwrap{
  background: url(../img/mm4.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h2 {

    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
  }
}

