#speaker-wrap{
  @extend .header-wrap;

  h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 50px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  }
  // end of inline

  background: url(../img/sc.jpg) no-repeat center top;
  background-size: 100%;
  background-size: cover;

  & .container{
    margin-top: 5%;
    color: #fff;

    & h1{
      color: #fff;
      font-size: 4rem;
    }
    & p {
      font-size: 2rem;
    }
  }

}
.circle-speaker-image {
  display: block;
  height: 100px;
  height: 175px;
  width: 175px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.info{
  padding: 15px;
}

section.talk-info{
  @extend .info;
  text-align: left;

  & ul{
    & li {

    }
  }
}

section.talk-details{
  @extend .info;
  text-align: left;

  li > h4:first-child {
    font-weight: bold;
  }
}


