#speaker-wrap{
  background: url(../img/sc.jpg) no-repeat center top;
  background-size: 100%;
  background-size: cover;
  @extend .header-wrap;

  & .container{
    margin-top: 5%;
    color: #fff;

    & h1{
      color: #fff;
    }
  }

  .circle-speaker-image {
    display: block;
    height: 100px;
    height: 150px;
    width: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }

}

.info{
  padding: 15px;
}

section.talk-info{
  @extend .info;
  text-align: left;

  & ul{
    & li {

    }
  }
}

section.talk-details{
  @extend .info;
  text-align: left;
}
