#speakers-wrap{
  background: url(/dist/img/zed.png) no-repeat center top;
  background-size: 100%;
  background-size: cover;
  @extend .header-wrap;
}

.speaker-img {
  width: 100%;
}

.speaker-link:after {
  position: absolute;
  height: 40px;
  background: rgba(0, 0, 0, 0.0);
  content: "";
  left: 7px;
  bottom: 7px;
  width: calc(100% - 14px);
  text-align: center;
  padding-top: 9px;
  color: #fff;
  -webkit-transition: background .1s ease-in;
}

.speaker-link:hover:after {
 background-color: rgba(0, 0, 0, 0.7);
}

.content-jenny-murphy:hover:after {
  content: "Jenny Murphy";
}

.content-joe-lonsdale:hover:after {
  content: "Joe Lonsdale";
}

.content-peter-norvig:hover:after {
  content: "Peter Norvig";
}

.content-guido:hover:after {
  content: "Guido van Rossum";
}

.content-zed-shaw:hover:after {
  content: "Zed Shaw";
}

.content-woz:hover:after {
  content: "Steve Wozniak";
}

.content-joel-spolsky:hover:after {
  content: "Joel Spolsky";
}

.content-jawed-karim:hover:after {
  content: "Jawed Karim";
}

.content-max-levchin:hover:after {
  content: "Max Levchin";
}

.content-ari-gesher:hover:after {
  content: "Ari Gesher";
}

.content-gerry-tan:hover:after {
  content: "Garry Tan";
}

.content-feinberg:hover:after {
  content: "Danielle Feinberg";
}

.content-alexis-ohanian:hover:after {
  content: "Alexis Ohanian";
}