// customize bootstrap variables and other *top level* styles here
@import "variables";
@import "bootstrap";

$rp-blue: #3299BB;
$rp-orange: #FF9900;
$rp-light-grey: #424242;
$rp-dark-grey: #BCBCBC;
$light-grey-text: #555;
$light-grey: #f2f2f2;
$border-grey: #D8D8D8;
$background-grey: #2f2f2f;

body{
  font-family: 'Open Sans',sans-serif;
}

a {
  color: $rp-blue;
  word-wrap: break-word;
  -webkit-transition: color .1s ease-in, background .1s ease-in;
  -moz-transition: color .1s ease-in, background .1s ease-in;
  -ms-transition: color .1s ease-in, background .1s ease-in;
  -o-transition: color .1s ease-in, background .1s ease-in;
  transition: color .1s ease-in, background .1s ease-in;

  &:hover, &:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }
  &:before, &:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
  }

}

.centered{
  text-align: center;
}


div.col-lg-offset-1 p{
  margin: 10px 0;
}

.container.wrapper{
  margin-bottom: 50px;
}

.grey-border{
  border-bottom: 1px solid $border-grey;
  padding-bottom: 15px;
}

.line-accent{
  display: block;
  width: 50px;
  height: 4px;
  margin: -15px 0 0 0;
  background-color: $rp-blue;
}