---
layout: default
title: About
---
<div class="wrapper" id="about-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class="page-context-header">― About ―</h3>
        <h2>The largest student run<br>
          tech conference in the Midwest!
        </h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div>

<div class="container wrapper">
  <div class="row mt">
    <div class="col-lg-10 col-lg-offset-1">
      <h2>Reflections | Projections is a four-day, student-run, conference that focuses on trends in computing technology. The conference consists of speaking events, career fairs, and competitions.</h2>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-10 col-lg-offset-1">
      <h3 class="grey-border">History</h3>
      <span class="line-accent"></span>
      <p>Nineteen years ago, the student chapter of the Association for Computing Machinery at the University of Illinois (ACM@UIUC) held its first computing conference. 150 students from across the midwest attended the event, which was supported by 14 corporations. Since its beginning, the conference has grown to include the MechMania programming contest, Puzzlebang challenge, and two career fairs. This year, we're proud to welcome you to the 20th annual conference from October 2-5, 2014, at the Urbana-Champaign campus. We expect to have over 900 student attendees and over 30 corporate sponsors. ACM could not host Reflections | Projections without the generous support of our sponsors. Their donations fund all the events and help keep admission free for everyone.</p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-10 col-lg-offset-1">
      <h3 class="grey-border">Past Year's Conferences</h3>
      <span class="line-accent"></span>
      <ul class="past-conferences">
        {% for year in site.data.years %}
        {% if year.date > 1999 %}
        {% if year.active %}
          <li>
            <a href="http://www.acm.uiuc.edu/conference/{{year.date}}">
              {{year.date}}
            </a>
          </li>
        {% else %}
         <li>
          <a
            href="http://www.acm.uiuc.edu/conference/{{year.date}}"
            class='disableClick'
          >
            {{year.date}}
          </a>
        </li>

        {% endif %}

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
