<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Reflections | Projections">
  <meta name="author" content="Brendan Ryan">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Vendor Css -->
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom CSS -->
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <script src="js/modernizr.custom.js"></script>


    </head>

    <body>
      {% include menu.html %}

      {{content}}

      {% include footer.html %}
      {% include bottom_scripts.html %}
    </body>
    </html>
