---
layout: default
---

<div class="wrapper" id="speaker-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="speaker-image">
          <img src="{{ site.baseurl }}/dist/img/{{page.image-url}}" alt="{{page.name}}" height="150px" width="150px" class="circular">
        </div>
        <h1>{{page.name}}</h1>
        <p>{{page.tagline}}</p>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div>


<div class="container wrapper">
  <div class="row mt">

    <section class="talk-info col-lg-8" >
      <article class="abstract">
        <h3 class="grey-border">Abstract:</h3>
        <span class="line-accent"></span>
        <p>{{page.abstract}}</p>
      </article>
      <article class="bio">
        <h3 class="grey-border">Bio:</h3>
        <span class="line-accent"></span>
        <p>{{page.bio}}</p>
      </article>

    </section>

    <section class="talk-details col-lg-3 col-lg-offset-1">
      <article >
        <h3 class="grey-border">Talk Details:</h3>
        <span class="line-accent"></span>
        <ul>
          <li class="date"></li>
          <h4>Date: {{page.talk_date}}</h4>
          <li class="time"></li>
          <h4>Time: {{page.talk_time}}</h4>
          <li class="loc"></li>
          <h4>Loc: {{page.talk_loc}}</h4>
        </ul>
      </article>
    </section>

  </div>
</div>
